.btn-wrapper {
  &.center {
    text-align: center;
  }
}

.btn {
  background-color: $pink;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-decoration: none;
  display: inline-block;
  @media screen and (min-with: 992px){
    padding: 1.5rem;
  }

  &:active, :focus {
    outline: none;
  }

  svg {
    width: 10px;
    height: 16px;
    margin: 0 .5rem;
  }
}