.news-event-career {
  .inner {

    .intro-col {
      .btn-wrapper {
        margin: 2rem 0;

        a {
          font-size: 1.8rem;
          padding: .5rem 3rem;
        }
      }
    }

    .details-col {

    }
  }
}