#footer {
  padding: 4rem 2rem 8rem;
  border-top: 1px solid $lightBlue;
  margin: 0 2rem;

  .footer-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
    }

    .logo {
      width: 16rem;
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 34px;
      color: $blue;
      letter-spacing: .2rem;
    }

    .trademark {
      font-weight: bold;
      margin: .5rem 0;
    }

    ul {
      li, a {
        font-size: 1.8rem;
        line-height: 24px;
        color: $lightBlue;
        text-decoration: none;
      }
    }

    .contact {
    }
  }
}