.post-grid-wrapper {
  display: flex;

  .text-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 2rem;

    .header {
      &:after {
        content: '';
        display: block;
        width: 5rem;
        height: .2rem;
        background-color: $lightBlue;
        margin: 2rem 0;
      }
    }

    .content {
      line-height: 1.5em;
    }
  }

  .posts-container{
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 2rem;

    .post-container {
      border: 1px solid #000;
      margin: 4rem 0;
      padding: 2rem;

      &:first-child {
        margin: 0 0;
      }

      .title {
      }

      .blurb {
        margin: 2rem 0;
      }

      .learn-more {
        text-decoration: none;
        color: $blue;
        font-weight: bold;

        &:after {
          content: ">";
          color: $pink;
          font-weight: bold;
          margin: 0 .5rem;
        }
      }
    }
  }
}

//.post_grid {
//  .inner {
//    .text-wrapper {
//
//    }
//
//    .post-grid-wrapper {
//      display: flex;
//      box-sizing: border-box;
//      justify-content: space-between;
//      flex-wrap: wrap;
//
//      &.col-2 {
//        .post-block {
//          max-width: 100%;
//          flex: 0 0 100%;
//
//          @media screen and (min-width: 768px){
//            max-width: 50%;
//            flex: 0 0 50%;
//          }
//        }
//      }
//
//      &.col-3 {
//        .post-block {
//          max-width: 100%;
//          flex: 0 0 100%;
//
//          @media screen and (min-width: 768px){
//            max-width: 33.3%;
//            flex: 0 0 33%;
//          }
//        }
//      }
//
//      &.col-4 {
//        .post-block {
//          max-width: 100%;
//          flex: 0 0 100%;
//
//          @media screen and (min-width: 768px){
//            max-width: 25%;
//            flex: 0 0 25%;
//          }
//        }
//      }
//
//      &.col-5 {
//        .post-block {
//          max-width: 100%;
//          flex: 0 0 100%;
//
//          @media screen and (min-width: 768px){
//            max-width: 20%;
//            flex: 0 0 20%;
//          }
//        }
//      }
//
//      &.col-6 {
//        .post-block {
//          max-width: 16.66%;
//          flex: 0 0 16.66%;
//
//          @media screen and (min-width: 768px){
//
//          }
//        }
//      }
//
//      &.col-7 {
//        .post-block {
//          max-width: 14.28%;
//          flex: 0 0 14.28%;
//
//          @media screen and (min-width: 768px){
//
//          }
//        }
//      }
//
//      .post-block {
//        text-align: center;
//        margin: 2rem 0;
//        box-sizing: border-box;
//        padding: 20px;
//
//        .post-inner{
//          border: 1px solid #000;
//          min-height: 100px;
//          padding: 20px;
//        }
//      }
//    }
//  }
//}