.graphic-grid-wrapper {

  .text-container {
    text-align: center;

    .header {
      line-height: 1.2em;
      max-width: 100rem;
      margin: 0 auto;

      &:after {
        content: "";
        background-color: $lightBlue;
        display: block;
        height: .2rem;
        width: 5rem;
        margin: 1rem auto;
      }
    }
  }

  &.photo {

  }
}