.graphic-grid-wrapper {

  &.mobile-simple {
    .icon-container {
      flex: 0 0 50%;
      max-width: 50%;

      img {
        width: 15rem;
      }

      .title {
        font-size: 1.6rem;
      }

      .content {
        display: none;

        @media screen and (min-width: 768px){
          display: block;
        }
      }
    }
  }

  &.mobile-full {
    .icon-container {
      flex: 0 0 100%;
      max-width: 100%;

      img {
        width: 20rem;
      }

      .title {
        font-size: 2rem;
      }

      .content {
        display: block;
      }
    }
  }

  .text-container {
    text-align: center;

    .header {
      line-height: 1.2em;
      max-width: 100rem;
      margin: 0 auto;

      &:after {
        content: "";
        background-color: $lightBlue;
        display: block;
        height: .2rem;
        width: 5rem;
        margin: 1rem auto;
      }
    }
  }

  .icons-container {
    display: flex;
    flex-wrap: wrap;

    .icon-container {
      margin: 0 0;
      box-sizing: border-box;
      @media screen and (min-width: 768px){
        flex: 0 0 25%;
        max-width: 25%;
        margin: 2rem 0;
      }

      a {
        text-decoration: none;

        img {
          display: block;
          margin: 0 auto;

          @media screen and (min-width: 768px){
            width: auto;
          }
        }

        .title {
          text-align: center;
          margin: 1.5rem 0;

          @media screen and (min-width: 768px) {
            font-size: 2.8rem;
          }
        }
      }


      .content {
        margin: 1.5rem;
        text-align: center;
      }
    }
  }

  .btn-wrapper {
    display: block;
    text-align: center;
    margin: 4rem auto;
  }
}