.post-grid-wrapper {

  .header {
    &:after {
      content: '';
      display: block;
      width: 5rem;
      height: .2rem;
      background-color: $lightBlue;
      margin: 2rem 0;
    }
  }

  //whitepapers grid
  &.whitepapers {

    .header {
      max-width: 65rem;
      margin: 2rem 0;
    }

    .posts-container {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 2rem 0;
      align-items: stretch;
      flex-wrap: wrap;

      .post-container {
        box-sizing: border-box;
        border: none;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 2rem 0;
        display: flex;
        box-shadow: none;
        transition: all ease 200ms;
        &:after {
          content: none;
        }
        &:hover {
          @media screen and (min-width: 768px){
            transform: translateY(-.5rem);
          }
        }
        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
          padding: 2rem;
        }
        @media screen and (min-width: 1200px){
          flex: 0 0 33.3%;
          max-width: 33.3%;
          padding: 2rem;
        }

        &:first-child {
          @media screen and (min-width: 768px){
            padding-left: 0;
          }
        }

        &:last-child {
          @media screen and (min-width: 768px){
            margin: 0 0;
          }
        }

        .inner {
          position: relative;
          padding-top: 8rem;
          box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);
          border-bottom: .4rem solid $blue;

          .top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8rem;
            background-color: #E9F6FF;

            svg {
              width: 11.8rem;
            }
          }

          .title {
            margin: 2rem 0;
          }

          .learn-more {
            position: absolute;
            bottom: 0;
            margin: 2rem 0;
          }
        }
      }
    }
  }

  // news and events grid
  &.newsevents {
    display: block;

    .header {
      text-align: center;
      &:after {
        margin: 2rem auto;
      }

      @media screen and (min-width: 768px){
        text-align: left;
        &:after {
          margin: 2rem 0;
        }
      }
    }

    .posts-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      padding: 0;
      @media screen and (min-width: 768px){
        margin: 4rem -2rem;
      }

      .post-container {
        position: relative;
        margin: 2rem 0;
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        border-bottom: .4rem solid $blue;
        box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);
        &:after {
          content: "";
          width: 0;
          height: .4rem;
          position: absolute;
          bottom: -.4rem;
          left: 0;
          background-color: $pink;
          transition: width ease 200ms;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
        @media screen and (min-width: 768px){
          flex: 0 0 calc( 50% - 4rem );
          max-width: 50%;
          margin: 2rem;
        }

        .inner {
          padding: 2rem;

          @media screen and (min-width: 768px){
            padding: 4rem;
          }

          .date {
            margin: .5rem 0;
          }

          .view-more {
            text-decoration: none;
            color: #fff;
            background-color: $blue;
            display: inline-block;
            border-radius: 5px;

            svg {
              width: 16px;
              height: 10px;
              margin: 0 .5rem;
            }
          }
        }
      }
    }


  }

  // solutions grid
  &.solutions {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
    }

    .text-container {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 2rem;
      @media screen and (min-width: 768px){
        flex: 0 0 50%;
        max-width: 50%;
      }

      .content {
        font-size: 1.5rem;
        line-height: 1.5em;
      }
    }

    .post-container {
      display: block;
    }
  }


  .posts-container{
    @media screen and (min-width: 768px){
      flex: 0 0 50%;
      max-width: 50%;
      margin: -4rem 0;
      padding: 0 2rem;
      box-sizing: border-box;
    }

    // no copy
    &.no-copy {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;

      .post-container {
        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
          box-sizing: border-box;
        }
      }
    }

    .post-container {
      position: relative;
      padding: 2rem;
      margin: 2rem 0;
      display: block;
      box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);
      border-bottom: .4rem solid $blue;
      @media screen and (min-width: 768px){
        margin: 4rem 0;
      }

      &:after {
        content: "";
        width: 0;
        height: .4rem;
        position: absolute;
        bottom: -.4rem;
        left: 0;
        background-color: $pink;
        transition: width ease 200ms;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }


      .title {
      }

      .blurb {
        margin: 2rem 0;
      }

      .learn-more {
        text-decoration: none;
        color: $blue;
        font-weight: bold;

        &:after {
          content: ">";
          color: $pink;
          font-weight: bold;
          margin: 0 .5rem;
        }
      }
    }
  }
}