#primary-header {
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e1e1e1;
  background-color: rgba(0,0,0,0);

  #header-inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    box-sizing: border-box;

    .logo {
      display: inline-block;
      width: 16rem;
    }

    nav {
      display: inline-block;
      position: absolute;
      right: calc( 3rem + 3rem + 13.6rem);
      top: 50%;
      transform: translateY(-50%);

      .menu-menu-1-container {
        #menu-menu-1 {
          list-style-type: none;
          display: inline-block;

          li {
            display: inline-block;
            margin: 0 1rem;
            vertical-align: text-top;

            a {
              color: $blue;
            }


            //&:hover {
            //  .sub-menu {
            //    display: block;
            //  }
            //}   CHANGE TO ON CLICK

            a {
              text-decoration: none;
            }

            .sub-menu {
              display: none;
              position: absolute;
              margin-top: 1rem;
              padding: .5rem;
              background-color: #fff;
              border: 1px solid $blue;

              li {
                display: block;
                margin: .5rem 0;
                height: auto;

                a {
                  color: $textGrey;
                }
              }
            }
          }
        }
      }
    }

    .demo-btn {
      display: inline-block;
      vertical-align: text-top;
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      background-color: $pink;
      color: #fff;
      border-radius: 5px;
    }
  }
}