//nice
.open-opps {

  .inner {
    padding: 4rem 6rem;

    .header {
      text-align: center;

      &:after {
        content: "";
        width: 5rem;
        height: .4rem;
        display: block;
        margin: 2rem auto;
        background-color: $lightBlue;
      }
    }
    .categories-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 4rem 0;

      .category-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
        padding: 2rem;

        .posting {
          margin: 2rem 0;

          .title {
            margin-bottom: 2rem;
          }

          a {
            text-decoration: none;
            color: $textGrey;
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
