.tab-module {
  position: relative;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;

  .inner {
    padding: 4rem 6rem;
    margin: 0 auto;
    max-width: 140rem;
    display: block;

    .wrapper {

      .title {
        font-size: 4.6rem;
        margin-bottom: 5rem;
      }

      .tabs {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid $lightGrey;
        margin: 0 -1.5rem;
        @media screen and (min-width: 992px){
          margin: 0 -3rem;
        }

        .tablinks {
          border: none;
          background-color: #fff;
          margin: 0 1.5rem;
          text-transform: uppercase;
          font-size: 1.8rem;
          color: $blue;
          @media screen and (min-width: 992px){
            margin: 0 3rem;
          }

          &:focus, :active {
            outline: none;
          }

          &.active {
            border-bottom: .2rem solid red;
          }
        }
      }

      .tabcontent {
        margin: 4rem 0;
        position: relative;
        display: none;

        &.active {
          display: flex;
        }

        .img-block {
          width: 40%;
          max-width: 40rem;
          margin-right: 5rem;
          position: relative;
          box-shadow: 5px 10px 20px 0 rgba(40,40,40,0.06);

          img {
            max-width: 40rem;
            max-height: 36rem;
            width: 100%;
            height: 100%;
          }
        }

        .text-block {
          width: 60%;
          position: relative;
          box-shadow: 5px 10px 20px 0 rgba(40,40,40,0.06);

          .inner {
            position: absolute;
            padding: 2rem;
            top: 50%;
            transform: translateY(-50%);

            .title {
              font-size: 2.8rem;
              margin-bottom: 3rem;
              color: $blue;
            }

            .learn-more {
              display: block;
              margin-top: 3rem;
              text-decoration: none;
              font-weight: bold;
              color: $blue;

              &:after {
                content: ">";
                display: inline-block;
                color: $pink;
                margin-left: .5rem;
              }
            }
          }
        }
      }
      .overview {
        text-decoration: none;
        font-weight: bold;
        color: $blue;
        text-align: right;
        width: 100%;
        display: inline-block;

        &:after {
          content: ">";
          display: inline-block;
          color: $pink;
          margin-left: .5rem;
        }
      }
    }
  }
}