.text-module {
  position: relative;
  width: 100%;

  //gradient variant
  &.gradient {
    .inner {
      margin: -2rem auto;
      padding: 4rem 3rem 0;
    }
  }

  .inner {
    padding: 0 3rem;
    max-width: 90rem;
    margin: 4rem auto;

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    h2 {
      font-size: 3rem;
      margin: 2rem 0;
      color: $blue;
      position: relative;

      @media screen and (min-width: 768px){
        font-size: 4.6rem;
      }

      &:after {
        content: "";
        width: 5rem;
        height: .4rem;
        display: inline-block;
        margin: 1rem 0;
        background-color: $lightBlue;
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
    }

    h3 {
      font-size: 2.5rem;
      color: $blue;
      margin: 1rem 0;
    }


    h4 {
      color: $blue;
      font-size: 1.6rem;
      margin: 2rem 0;
      line-height: 1.5em;

      @media screen and (min-width: 768px){
        font-size: 2.2rem;
      }
    }

    h3 + ul {
      margin-top: 1rem;
    }

    ul {
      list-style: disc;
      margin: 3rem 0;

      li {
        margin: 1rem 0;
        line-height: 1.2em;
      }
    }

    p {
      margin: 1rem 0;
      font-size: 1.5rem;

      //&:after {
      //  content: "";
      //  clear: both;
      //}
    }

    img {
      float: none;
      width: 100%;
      max-width: 100%;
      height: auto;

      @media screen and (min-width: 768px){
        width: 50%;
        max-width: 50%;
        float: left;
      }

      &.alignleft {
        float: none;

        @media screen and (min-width: 768px){
          float: left;
        }
      }

      &.alignright {
        float: none;

        @media screen and (min-width: 768px){
          float: left;
        }
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      @media screen and (min-width: 768px){
        flex-wrap: nowrap;
      }

      .col {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0 1rem;
      }

      &.two {
        .col {
          @media screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }

      &.three {
        .col {
          @media screen and (min-width: 768px){
            flex: 0 0 33.3%;
            max-width: 33.3%;
          }
        }
      }
    }

    .cols-wrapper {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      @media screen and (min-width: 768px){
        flex-wrap: nowrap;
      }

      .col-half {
        box-sizing: border-box;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 2rem;

        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}

