.btn-wrapper {
  &.center {
    text-align: center;
  }
}

.btn {
  background-color: $pink;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  text-decoration: none;
  display: inline-block;
  transition: all ease 200ms;
  position: relative;
  @media screen and (min-with: 992px){
    padding: 1.5rem;
  }

  &:active, :focus {
    outline: none;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  span {
    padding-right: 1rem;
  }

  svg {
    width: 10px;
    height: 13px;
    transition: all ease 200ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: 768px){
      opacity: 0;
    }
  }
}