#footer {
  padding: 4rem 2rem;
  border-top: 1px solid $lightBlue;

  @media screen and (min-width: 768px){
    padding: 4rem 2rem 6rem;
    margin: 0 2rem;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    max-width: 140rem;
    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
    }

    .logo {
      width: 16rem;
      display: none;

      @media screen and (min-width: 768px){
        display: block;
      }
    }

    #scroll-to-top {
      position: relative;
      flex: 0 0 100%;
      padding-bottom: 2rem;
      height: auto;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      color: $blue;
      transition: all ease 400ms;
      opacity: 0;
      @media screen and (min-width: 768px){
        bottom: 30rem;
        right: 0;
        position: fixed;
        transform: rotate(-90deg);
        padding-bottom: 0;
      }

      &.active {
        opacity: 1;
        @media screen and (min-width: 768px){
          bottom: 32rem;
        }
      }

      svg {
        position: absolute;
        width: .8rem;
        transform: rotate(-90deg);
        fill: $pink;
        margin: 0 .5rem;
        @media screen and (min-width: 768px){
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }

    .legal {
      margin: 2rem 0;

      @media screen and (min-width: 768px){
        margin: 0 0;
      }
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 34px;
      color: $blue;
      letter-spacing: .2rem;
    }

    .trademark {
      font-weight: bold;
      margin-top: 2rem;

      @media screen and (min-width: 768px){
        margin: .5rem 0;
      }
    }

    .privacy {
      svg {
        width: .8rem;
        margin-left: .5rem;
        fill: $lightBlue;
        transition: all ease 200ms;
      }

      &:hover {
        a {
          color: $pink;
        }

        svg {
          fill: $pink;
        }
      }
    }

    ul {
      li, a {
        font-size: 1.8rem;
        line-height: 24px;
        color: $lightBlue;
      }

      a {
        text-decoration: underline;

        &:hover {
          color: $textGrey;
        }
      }
    }
  }
}