#footer {
  padding: 4rem 2rem;
  border-top: 1px solid $lightBlue;
  margin: 0 2rem;

  @media screen and (min-width: 768px){
    padding: 4rem 2rem 6rem;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
    }

    .logo {
      width: 16rem;
      display: none;

      @media screen and (min-width: 768px){
        display: block;
      }
    }

    .legal {
      margin: 2rem 0;

      @media screen and (min-width: 768px){
        margin: 0 0;
      }
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 34px;
      color: $blue;
      letter-spacing: .2rem;
    }

    .trademark {
      font-weight: bold;
      margin-top: 2rem;

      @media screen and (min-width: 768px){
        margin: .5rem 0;
      }
    }

    ul {
      li, a {
        font-size: 1.5rem;
        line-height: 24px;
        color: $lightBlue;
        text-decoration: none;
      }
    }
  }
}