.text-module + .grid {
  inner {
    padding: 0;
  }
}

.grid {
  position: relative;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;

  & > .inner {
    padding: 4rem;

    @media screen and (min-width: 768px){
      padding: 8rem 6rem;
    }
  }

  .svg-background {
    top: 0;
  }
}
