.post-grid-wrapper {

  .header {
    &:after {
      content: '';
      display: block;
      width: 5rem;
      height: .4rem;
      background-color: $lightBlue;
      margin: 2rem 0;
    }
  }

  /*
   * Whitepapers Grid
   */

  &.whitepapers {

    .header {
      max-width: 65rem;
      margin: 2rem 0;
      position: relative;
    }

    .posts-container {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 4rem 0;
      align-items: stretch;
      flex-wrap: wrap;

      &.total-1 {
        .post-container {
          @media screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }

      &.total-2 {
        .post-container {
          @media screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }

      .post-container {
        box-sizing: border-box;
        border: none;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 2rem 0;
        display: flex;
        box-shadow: none;
        transition: all ease 200ms;
        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
          padding: 2rem;
        }
        @media screen and (min-width: 1200px){
          flex: 0 0 33.3%;
          max-width: 33.3%;
          padding: 2rem;
        }

        &:after {
          content: none;
        }

        &:hover {
          @media screen and (min-width: 768px){
            transform: translateY(-.5rem);
          }
        }

        &:first-child {
          @media screen and (min-width: 768px){
            padding-left: 0;
          }
        }

        &:last-child {
          @media screen and (min-width: 768px){
            margin: 0 0;
          }
        }

        .inner {
          position: relative;
          box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);
          border-bottom: .4rem solid $blue;
          background-color: #fff;
          padding: 10rem 3rem 3rem 3rem;
          &:after {
            content: "";
            width: 0;
            height: .4rem;
            position: absolute;
            bottom: -.4rem;
            left: 0;
            background-color: $pink;
            transition: width ease 500ms;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }

          .top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8rem;
            background-color: #E9F6FF;

            svg {
              width: 11.8rem;
            }
          }

          .title {
            margin: 2rem 0;
          }

          .learn-more {
            position: absolute;
            bottom: 0;
            margin: 2rem 0;
          }
        }
      }
    }
  }

  /*
   * News & Events Grid
   */

  &.newsevents {
    display: block;

    .header {
      text-align: center;
      &:after {
        margin: 2rem auto;
      }

      @media screen and (min-width: 768px){
        text-align: left;
        &:after {
          margin: 2rem 0;
        }
      }
    }

    .posts-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      padding: 0;
      @media screen and (min-width: 768px){
        margin: 0rem -2rem;
      }

      .post-container {
        position: relative;
        margin: 2rem 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 3rem;
        box-sizing: border-box;
        display: flex;
        border-bottom: .4rem solid $blue;
        box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);

        &:hover {
          .inner .btn-wrapper .btn {
            background-color: $pink;
          }
        }
        @media screen and (min-width: 768px){
          flex: 0 0 calc( 50% - 4rem );
          max-width: 50%;
          margin: 2rem;
        }

        .post-link {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 99;
        }

        .inner {
          padding: 0rem;

          @media screen and (min-width: 768px){
          }

          .date {
            margin: .5rem 0;
            font-size: 2rem;
          }

          .btn {
            background-color: $blue;
            padding-right: 0;
            transition: all ease 200ms;
          }
        }
      }
    }


  }

  /*
   * Solutions Grid
   */

  &.solutions {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
    }

    .text-container {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 4rem;
      position: relative;
      align-self: center;
      @media screen and (min-width: 768px){
        flex: 0 0 50%;
        max-width: 50%;
      }

      .content {
        font-size: 2rem;
        line-height: 1.5em;
        font-weight: lighter;
      }

      .btn-wrapper {
        margin: 4rem 0;
      }
    }

    .post-container {
      display: block;
      background-color: #fff;
    }
  }


  .posts-container {
    @media screen and (min-width: 768px){
      flex: 0 0 50%;
      max-width: 50%;
      margin: -4rem 0;
      padding: 0 4rem;
      box-sizing: border-box;
    }

    /*
     * No copy
     */
    &.no-copy {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;

      .post-container {
        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
          box-sizing: border-box;
        }
      }
    }

    .post-container {
      position: relative;
      padding: 2rem;
      margin: 2rem 0;
      display: block;
      box-shadow: 5px 10px 20px 0 rgba(230,230,230,0.5);
      border-bottom: .4rem solid $blue;
      @media screen and (min-width: 768px){
        margin: 4rem 0;
      }

      &:after {
        content: "";
        width: 0;
        height: .4rem;
        position: absolute;
        bottom: -.4rem;
        left: 0;
        background-color: $pink;
        transition: width ease 500ms;
      }

      &:hover {
        &:after {
          width: 100%;
        }

        .learn-more {
          color: $pink;
        }
      }

      .post-link {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
      }


      .title {
      }

      .blurb {
        margin: 2.5rem 0;

        p {
          font-size: 2rem;
        }
      }

      .learn-more {
        font-size: 2rem;
        text-decoration: none;
        color: $blue;
        font-weight: bold;
        transition: all ease 200ms;

        &:after {
          content: ">";
          color: $pink;
          font-weight: bold;
          margin: 0 .5rem;
        }
      }
    }
  }
}