.text-module {
  position: relative;
  width: 100%;
  margin: 6rem 0;
  padding: 0 2rem;
  box-sizing: border-box;
  @media screen and (min-width: 768px){
    padding: 0 4rem;
  }

  .text-module + & {
    margin-top: 0;
  }

  .boxed-content & {
    margin: 3rem 0;
  }

  //gradient variant
  &.gradient {
    background: #eaf6ff;
    background: -moz-linear-gradient(top, #eaf6ff 0%, #ffffff 33%);
    background: -webkit-linear-gradient(top, #eaf6ff 0%,#ffffff 33%);
    background: linear-gradient(to bottom, #eaf6ff 0%,#ffffff 33%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6ff', endColorstr='#ffffff',GradientType=0 );
     margin: 0;

    .inner {
      //margin: -2rem auto;
      padding: 6rem 0;
      @media screen and (min-width: 768px){
        padding: 8rem 6rem;
      }
    }
  }

  .inner {
    max-width: 110rem;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 768px){
      padding: 0;
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 2.4rem;
      margin: 1rem 0;
      color: $blue;
      font-weight: bold;
      @media screen and (min-width: 768px){
        font-size: 3.6rem;
      }

      .boxed-content & {
        font-size: 3rem;
        @media screen and (min-width: 768px) {
          font-size: 3rem;
        }

        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        width: 3.5rem;
        height: .4rem;
        display: block;
        margin: 1em 0;
        background-color: $lightBlue;
      }
    }

    p + h2 {
      margin-top: 6rem;
    }

    h3 {
      font-size: 2rem;
      color: $blue;
      font-weight: bold;
      margin: 1.5rem 0;
    }

    h4 {
      color: $blue;
      font-size: 1.8rem;
      margin: 2rem 0;
      line-height: 1.5em;
      font-weight: lighter;

      @media screen and (min-width: 768px){
        font-size: 2rem;
      }
    }

    h3 + ul {
      margin-top: 1rem;
    }

    ul {
      list-style: disc;
      margin: 3rem 0;

      li {
        margin: 1rem 0;
        line-height: 1.5em;
        font-size: 1.6rem;
        @media screen and (min-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }

    h2 + p {
      margin-top: 2rem;
    }

    p {
      margin: 2rem 0;
      font-size: 1.6rem;
      font-weight: lighter;
      @media screen and (min-width: 768px) {
        font-size: 1.8rem;
        margin: 1.5rem 0;
      }

      img {
        float: none;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 1rem 1rem 1rem 0;

        @media screen and (min-width: 768px){
          width: 50%;
          max-width: 50%;
          float: left;
        }

        &.alignleft {
          float: none;

          @media screen and (min-width: 768px){
            float: left;
          }
        }

        &.alignright {
          float: none;

          @media screen and (min-width: 768px){
            float: left;
          }
        }
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin-left: -2rem;
      max-width: 100rem;

      @media screen and (min-width: 768px){
        flex-wrap: nowrap;
        margin-left: -4rem;
      }

      .col {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 3rem;
      }
      @media screen and (min-width: 768px){
        //margin: 0 4rem;
        padding: 0;
      }

      &.two {
        .col {
          @media screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }

      &.three {
        .col {
          @media screen and (min-width: 768px){
            flex: 0 0 33.3%;
            max-width: 33.3%;
          }
        }
      }
    }

    .cols-wrapper {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      @media screen and (min-width: 768px){
        flex-wrap: nowrap;
      }

      .col-half {
        box-sizing: border-box;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 2rem;

        @media screen and (min-width: 768px){
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}

